{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<p>Наш салон красоты предлагает Вам полный перечень косметологических и парикмахерских услуг высочайшего класса. Наша главная цель – доставить удовольствие нашим гостям. Дипломированные косметологи, парикмахеры, мастера маникюра и педикюра помогут Вам создать совершенный образ и подчеркнуть естественное очарование. 
День за днем салон красоты воплощает в жизнь самые заветные мечты клиентов! Опытные мастера наших салонов творчески подходят к своему делу. Мы с радостью поможем Вам кардинально изменить привычный образ, учтем все пожелания, при необходимости дадим советы и рекомендации. </p>

{% endblock %}
